.book-price {
  width: 100%;
  .book-price-line {
    border: 1px solid #000;
    .total-price {
      text-align: right;
    }
  }
  .price {
    // display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 10px;
    .price-text {
      font-weight: bold;
    }

  }
}
